.offers {
  position: relative;
  background-color: $blue;
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: $white;
  padding-top: 90px;
  padding-bottom: 40px;

  @media (min-width: $medium) {
    background-color: $white;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.offers__layout {
  @media (min-width: $medium) {
    background-color: $blue;
    padding-top: 133px;
    padding-bottom: 74px;
  }
}

.offers__full {
  margin-bottom: 6px;

  @media (min-width: $medium) {
    margin-bottom: 22px;
  }
}

.offers__full__text {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.5px;
  color: rgba($white, 0.4);
  margin-top: 0;
  margin-bottom: 7px;
  display: block;
}

.offers__full-price {
  font-family: $rs;
  font-weight: 300;
  font-size: 36px;
  line-height: 47px;
  color: rgba($white, 0.4);
  letter-spacing: -2px;
  display: inline-block;
  position: relative;

  &::after {
    @include pseudo();
    @include size(100%, 2px);
    background-color: $pastel-purple;
    top: 50%;
    transform: translateY(-50%);
  }
}

.offers__installment {
  margin-bottom: 23px;

  @media (min-width: $medium) {
    margin-bottom: 35px;
  }
}

.offers__installment-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.5px;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $medium) {
    font-size: 20px;
  }
}

.offers__installment-price {
  font-weight: normal;
  font-size: 56px;
  line-height: 74px;
  letter-spacing: -2px;
  display: block;
  margin-bottom: -3px;

  @media (min-width: $medium) {
    font-size: 80px;
    line-height: 106px;
    margin-bottom: -10px;
  }
}

.offers__first-text {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.5px;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $medium) {
    font-size: 18px;
    line-height: 21px;
  }
}

.offers__first-price {
  font-family: $rs;
  font-weight: 300;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: -2px;
  display: block;

  @media (min-width: $medium) {
    font-size: 50px;
    line-height: 66px;
  }
}

.offers__first__svg {
  @include size(19px, 29px);
}
