.price {
  padding-top: 55px;
  padding-bottom: 55px;

  @media (min-width: $medium) {
    padding-top: 50px;
    padding-bottom: 75px;
    background-color: $tablet-back;
  }
}

.price__layout {
  padding-top: 54px;

  @media (min-width: $medium) {
    padding-top: 0;
  }
}

.price__heading {
  font-family: $roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: -0.5px;
  color: $black;
  margin-top: 0;
  margin-bottom: 31px;

  @media (min-width: $medium) {
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 77px;
  }
}
