.sale {
  position: absolute;
  left: 50%;
  top: -54px;
  transform: translateX(-50%);
  color: $white;
  font-family: $roboto;
  text-align: center;
  font-style: normal;
  width: 110px;
  min-height: 120px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='110' height='120' viewBox='0 0 110 120' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0.808594H110V105.084L55 119.809L0 105.084V0.808594Z' fill='%237CE187'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0.808594H110V105.084L55 119.809L0 105.084V0.808594Z' fill='black'/%3e%3c/svg%3e ");
  padding-top: 23px;

  @media (min-width: $medium) {
    top: -21px;
  }
}

.sale__word {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.sale__size {
  display: block;
  font-weight: bold;
  font-size: 30px;
  line-height: 0.93;
  letter-spacing: -0.5px;
  margin-bottom: 7px;
}

.sale__time {
  display: block;
  font-weight: normal;
  font-size: 15px;
  line-height: 1;
  letter-spacing: -0.5px;
  opacity: 0.7;
}
