.sub-form {
  font-style: normal;

  @media (min-width: $large) {
    display: flex;
    flex-direction: column;
  }
}

.sub-form__box {
  margin-bottom: 18px;

  &:last-of-type {
    margin-bottom: 52px;
  }

  @media (min-width: $medium) {
    margin-bottom: 20px;

    &:last-of-type {
      margin-top: 30px;
      margin-bottom: 31px;
    }
  }

  @media (min-width: $large) {
    margin-bottom: 18px;

    &:last-of-type {
      order: 1;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.sub-form__inp {
  width: 100%;
  padding: 15px 15px 15px 27px;
  font-family: $os;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.87;
  letter-spacing: -0.5px;
  border: 2px solid $light-gray;
  color: $pale-purple;

  &::placeholder {
    color: $pale-purple;
  }

  &:focus {
    outline: none;
    border: 2px solid $blue;
  }

  &:hover {
    border: 2px solid lighten($blue, 10%);
  }

  @media (min-width: $medium) {
    padding-left: 22px;
  }

  @media (min-width: $large) {
    padding-left: 29px;
  }
}

.sub-form__lch {
  font-family: $os;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  display: inline-block;
  letter-spacing: -0.5px;
  color: $pale-purple;
  padding-left: 42px;
  position: relative;

  &::before {
    @include pseudo();
    @include square(24px);
    border: 2px solid $light-gray;
    top: 0;
    left: 0;
    transition: all 300ms ease-in;
  }

  @media (min-width: $medium) {
    padding-left: 33px;
  }

  @media (min-width: $large) {
    padding-left: 40px;
  }

  &:hover,
  &:focus {
    &::before {
      border: 2px solid $blue;
    }
  }
}

.sub-form__lch-text {
  @media (min-width: $large) {
    display: block;
  }
}

.sub-form__ch {
  &:hover,
  &:focus {
    outline: none;

    & ~ label::before {
      border: 2px solid $blue;
    }
  }

  &:checked ~ label::after {
    @include pseudo();
    @include size(14px, 11px);
    top: 6px;
    left: 6px;
    background-image: url("../img/icon-check.svg");
  }
}

.sub-form__agreement-link {
  font-family: $os;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.5px;
  color: $blue;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}

.sub-form__sub-btn {
  width: 270px;
  background: linear-gradient(0deg, #3D3BFF, #3D3BFF), #7CE187;
  border: none;
  padding-top: 24px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-family: $os;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $white;
  padding-bottom: 26px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 0;
  word-break: break-word;

  &:focus,
  &:hover {
    outline: 2px solid $white;
    outline-offset: -10px;
  }

  @media (min-width: $medium) {
    width: 100%;
  }

  @media (min-width: $large) {
    margin-bottom: 33px;
  }
}
