$roboto: "Roboto", "Arial", sans-serif;
$os: "Open Sans", "Arial", sans-serif;
$rs: "Roboto Slab", "Georgia", serif;

//size
$small: 320px;
$medium: 768px;
$large: 1024px;

$s-end: 767px;
$m-end: 1023px;
$l-end: 1280px;

//colors
$white: #ffffff;
$black: #000000;
$blue: #3D3BFF;
$pale-purple: #657195;
$light-gray: #E6E8F0;
