$roboto: "Roboto", "Arial", sans-serif;
$os: "Open Sans", "Arial", sans-serif;
$rs: "Roboto Slab", "Georgia", serif;

//size
$small: 320px;
$medium: 768px;
$large: 1024px;

$s-end: 767px;
$m-end: 1023px;
$l-end: 1280px;

//colors
$white: #ffffff;
$background: #fafbfe;
$tablet-back: #f6f7fd;
$black: #000000;
$blue: #3d3bff;
$green: #7ce187;
$pale-purple: #657195;
$nice-gray: #a8afc4;
$pastel-purple: #8b89ff;
$light-gray: #e6e8f0;
$wrong: #ff5733;
